* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FooterP {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

.Fb {
    margin-bottom: 30px;
}

.Im {
    margin-left: 35px;
    margin-bottom: 30px;
}

.Tr {
    margin-left: 35px;
    margin-bottom: 30px;
}

.Ln {
    margin-left: 35px;
    margin-bottom: 30px;
}